*{box-sizing: border-box;}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: black;
}
header{
	box-sizing: content-box;
	position: fixed;
	padding: 10px;
	font-size: 20px;
	height: 24px;
	top: 0;
	background-color: black;
	color: white;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	animation-name: looper;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: linear;
	-webkit-animation-name: looper;
	-webkit-animation-duration: 7s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: linear;
}
@-moz-keyframes looper{
	15%{-moz-transform:translateX(0%);}
	100%{-moz-transform:translateX(-100%);}
}
@-webkit-keyframes looper{
	15%{-webkit-transform:translateX(0%);}
	100%{-webkit-transform:translateX(-100%);}
}
@keyframes looper{
	15%{transform:translateX(0%);}
	100%{transform:translateX(-100%);}
}
main{
	background-color: black;
	display: flex;
	width: 100%;
	text-align: center;
	height: 100vh;
	padding-bottom: 28px;
	padding-top: 44px;
	}
@media(max-width: 600px){
	main{
		flex-direction: column;
	}
	main section{
		width: 100%!important;
		height: 50%!important;
	}
	main section#artist{display: none;}
	main section#list{border-top: 5px solid black}
}
main section{
	background-color: white;
	padding: 1em;
}
main section#search{
	width: 25%;
	background-color:#00FFB8;
	overflow-y:scroll;
}
main section#search #searchBox{
	margin-bottom: 1em;
}
#search div{
	transition-duration: .4s;
}
#search div:hover{
	font-weight: bolder;
	cursor: pointer;
	background-color: black;
	color: white;
	border-radius: .5em
}
main section#list{
	/*width:50%;*/
	width: 75%;
	overflow-y:scroll;
	text-align: justify;
}
#list div:hover{
	cursor: pointer;
	font-weight: bolder;
	background-color: black;
	color: white;
	border-radius: .5em
}
#list div{
	padding: .2em;
	margin: .3em;
	border:1px solid #00FFB8;
	border-radius: .3em;
	transition-duration:.5s;
}
/*main section#artist{width: 25%;}*/

#artist img,#search input{width: 80%;margin: auto;}

footer{
	width: 100%;
	position: fixed;
	top: 100%;
}
#audio{
	transform: translateY(-100%);
	background-color: black;
	width: 100%;
	height: 30px;
}