*{
	box-sizing: border-box;
	transition-duration: .5s;
	animation: fadeIn 2s;
	font-family: fantasy;
}
@keyframes fadeIn{
	from{opacity: 0}
	to{opacity: 1}
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: black;
}
header{
	box-sizing: content-box;
	position: fixed;
	padding: 10px;
	font-size: 20px;
	height: 24px;
	top: 0;
	background-color: black;
	color: #71bbfc;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	animation-name: looper;
	animation-duration: 7s;
	animation-iteration-count: infinite;
	animation-delay: 1s;
	animation-timing-function: linear;
	-webkit-animation-name: looper;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-delay: 1s;
	-webkit-animation-timing-function: ease-in-out;
}
@keyframes looper{
	0%{transform:translateX(-100%);opacity:0}
	15%{transform:translateX(5vw);opacity:1}
	100%{transform:translateX(100vw)}
}
main{
	background-color: black;
	display: flex;
	width: 100%;
	text-align: center;
	height: 100vh;
	padding-bottom: 28px;
	padding-top: 44px;
	justify-content: space-around;
}
@media(max-width: 600px){
	main{
		flex-direction: column;
	}
	main section{
		width: 100%!important;
		height: 50%!important;
	}
	main section#artist{display: none;}
	main section#list{border-top: 5px solid black}
}
main section{
	box-shadow: 10px 10px 10px rgba(255,255,255,.5);
	padding: 1em;
}
section#search{
	width: 20%;
	background-color:#333;
	color: #71bbfc;
	overflow-y:auto;
}
main section#search #searchBox{
	margin-bottom: 1em;
}
#search div{
	transition-duration: .4s;
}
#search div:hover{
	font-weight: bolder;
	cursor: pointer;
	background-color: black;
	border-radius: .5em
}
main section#list{
	/*width:50%;*/
	background-color:#333;
	color: #71bbfc;
	width: 65%;
	overflow-y:auto;
	text-align: justify;
}
#list div:hover{
	cursor: pointer;
	font-weight: bolder;
	background-color: black;
	border-radius: .5em
}
#list div{
	padding: .2em;
	margin: .3em;
	border:1px solid #666;
	border-radius: .3em;
	transition-duration:.5s;
}
/*main section#artist{width: 25%;}*/

#artist img,#search input{width: 80%;margin: auto;}

footer{
	width: 100%;
	position: fixed;
	top: 100%;
}
#audio{
	transform: translateY(-100%);
	background-color: black;
	width: 100%;
	height: 30px;
}
#menu{
	position: fixed;
	top: 0px;
	left: 100vw;
	background-color: black;
	color: gray;
	transform: translateX(-100%);
	font-size: 24px;
	cursor: pointer;
	z-index: 99999;
	height: 44px;
	padding: 10px;
}
#buttons{
	position: fixed;
	top: 44px;
	left: 0;
	transform: translateX(-100vw);
	display: flex;
	flex-direction: column;
	height: calc(100vh - 64px);
	background-color: rgba(0,0,0,.9);
	justify-content: space-around;
	padding: 1em;
	width: 30%;
	text-align: center;
}
#buttons.open{
	transform: none;
}
@media(max-width: 600px){
	#buttons{
		width: 100%;
	}
}
#buttons span{
	font-size: 1.3em;
	color:#71bbfc;
	padding: .5em;
	border-radius: .5em;
	cursor: pointer;
}
#buttons span.active{
	background-color: rgba(255,255,255,.7);
	color:black;
	box-shadow: 0px 0px 40px white;
}
#random-inside-artist{
	display: none;
}